.explore-story {
  all: unset;
  width: 15rem;
  height: 26.67rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.explore-story__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: inherit;
  z-index: 1;
}

.explore-story::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  z-index: 2;
  left: 50%;
  background-color: var(--clr-black);
}

.explore-story__gradient {
  background-image: linear-gradient(180deg, #cc00ff45, #03a4ff56);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  z-index: 2;
}

.explore-story__avatar {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--clr-black);
  border-radius: 3rem;
  position: relative;
  z-index: 2;
}
