.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.story__avatar-container {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  box-shadow: 0 2px 7px #00000025;
}

.story__avatar {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
}

.story__user-avatar {
  background-image: linear-gradient(180deg, #cc00ff, #03a4ff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--clr-white);
}

.story__username {
  margin-top: 0.5rem;
  color: var(--clr-tertiary);
}

.story__v-splitter {
  width: 1px;
  height: 4rem;
  justify-self: center;
  align-self: center;
  flex-shrink: 0;
  background-color: var(--clr-secondary);
}
