.story-bar {
  display: flex;
  padding: 1rem;
  width: 100%;
  overflow-x: scroll;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 4px 14px #00000025;
}

.story-bar::-webkit-scrollbar {
  display: none;
}

.story-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
