.story-bar {
  display: flex;
  padding: 1rem;
  width: 100%;
  overflow-x: scroll;
  border-radius: inherit;
}

.story-bar::-webkit-scrollbar {
  display: none;
}

.story-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
