* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #848484;
  --clr-primary-alpha: #84848466;
  --clr-secondary: #c0c0c0;
  --clr-tertiary: #a1a1a1;

  --clr-white: white;
  --clr-black: black;

  --radius: 2rem;
}
