.text-input {
  all: unset;
  width: 80%;
  height: 3rem;
  border: 1px solid var(--clr-white);
  border-radius: 2rem;
  padding: 0.175rem 0.675rem;
  color: var(--clr-white);
  margin-bottom: 1rem;
}

.text-input__label {
  width: 80%;
  padding: 0.175rem 0.675rem;
  color: var(--clr-white);
}

.text-input::placeholder {
  color: var(--clr-white);
}